@charset "UTF-8";

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #FF4150;
    border-radius: 5px;
}

::selection {
    background-color: #697D8E;
}

::placeholder {
    color: #FFD4D6;
}

::-webkit-search-cancel-button {
    display: none;
}

body {
    background-color: #26262D;
    // color: #4B4B4B;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 23px;
}

img {
    user-select: none;
}

.container {
    max-width: 1460px;
    margin: auto;
    padding: 20px;
}

@import "./header";
@import "./films-section";